/Project_CuisineDelight/.vs/Project_CuisineDelight/v17/.suo
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/Project_CuisineDelight.csproj.AssemblyReference.cache
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/Project_CuisineDelight.csproj.FileListAbsolute.txt
*.cache
/Project_CuisineDelight/.vs/Project_CuisineDelight/config/applicationhost.config
/Project_CuisineDelight/Project_CuisineDelight/bin/Project_CuisineDelight.dll
/Project_CuisineDelight/Project_CuisineDelight/bin/Project_CuisineDelight.pdb
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/Project_CuisineDelight.csproj.CoreCompileInputs.cache
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/Project_CuisineDelight.dll
/Project_CuisineDelight/Project_CuisineDelight/obj/Debug/Project_CuisineDelight.pdb
Project_CuisineDelight/Project_CuisineDelight/Project_CuisineDelight.csproj